* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-size: 16px;
}

.slick-prev::before, .slick-next::before {
  color: #000 !important;
}